@import './circleAnimation.css';
@font-face {
  font-family: 'montserrat';
  src: url('./bootstrap/Montserrat-Medium.ttf');
}

:root{
  --diameter: 70px;
  --circ-line-width: 2px;
  --background: #fff;
  --color: #198754;
}

body {
  margin: 0;
}



.slideContainer{
  overflow: hidden;
  position: relative;
  width: 500px;
  min-height: 100vh;
  /* border: 1px solid black; */
  text-align: center;
  margin: auto;
  font-family: 'montserrat';
}

.allSlides{
  display: flex;
}
.agreement{
  /* box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.527),
  -1px 0px 4px rgba(0, 0, 0, 0.527); */
  background-color: rgba(243, 243, 243, 0.473);
}
.slide{
  width: 500px;
  transition: 1.5s;
  padding: 10px;
}
.slide ul{
  width: 85%;
  text-align: start;
}

.slide ul li{
  margin-bottom: 10px;
}

.form-style{
  background-color: rgba(243, 243, 243, 0.596);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.315);
  border-radius: 3px;
  width: 90%;
  margin: auto;
}
.formInput{
  width: 90%;
  margin: 10px auto;
}
.formInput:nth-child(2){
  padding-top: 20px;
}


.err{
  color: rgb(231, 85, 85);
  font-style: italic;
}

/* Completed Page Animations  */
.completed{
  color: var(--color);
  background-color: white;
  width: 300px;
  height: 300px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-150px, -200px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  /* transition: 2s; */
}
.completed-txt{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-75px, 0px);
  animation: jump-in .5s linear ;
}
.lower{
  font-size: 11px;
  transform: translate(-75px, 70px);
  animation: jump-in-2 .5s linear ;
}
@keyframes jump-in {
  0%{transform: scale(0) translate(200px, 0px); }
  50%{transform: scale(.5) translate(0px, 0px);}
  100%{ transform: scale(1) translate(-75px, 0px);}
}
@keyframes jump-in-2 {
  0%{transform: scale(0) translate(200px, 70px); }
  50%{transform: scale(.5) translate(0px, 70px);}
  100%{ transform: scale(1) translate(-75px, 70px);}
}


/* Bootstrap Stuff */
.form-check-input:focus{
  box-shadow: none;
}

.btn{
  box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
  margin: 5px;
}