body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slideContainer{
  overflow: hidden;
  position: relative;
  width: 500px;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  /* border: 1px solid black; */
  text-align: center;
  margin: auto;
  box-shadow: 4px 0px 2px rgba(0, 0, 0, 0.527),
  -4px 0px 2px rgba(0, 0, 0, 0.527);
}

.allSlides{
  display: flex;
}

.slide{
  width: 500px;
  transition: 1.5s;
  padding: 10px;
}
.slide ul{
  width: 85%;
}

.slide ul li{
  margin-bottom: 10px;
}
.err{
  color: rgb(231, 85, 85);
}
.completed{
  color: rgb(63, 155, 63);
}

/* Bootstrap Stuff */
.form-check-input:focus{
  box-shadow: none;
}